* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0D0E1B;
}

#nav {
    flex-wrap: wrap;
}

h1.title {
    background-color: #00081D;
    color: #AB0A1E;
    padding: 20px;
    font-family: Ubuntu, sans-serif;
}

form {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 20px;
    display: flex;
}

form input {
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    flex: 1;
    background: none;
}

form button {
    padding: 2px 10px;
    background-color: #73707D;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover{
    background-color: #00081D;
}

#icone {
    height: 25px;
    width: 30px;
}

.lista {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.item {
    color: #a2bebe;
    text-align: center;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    margin: 5px;
    -webkit-transition: all ease-in .2s;
}

div.item:hover{
    -webkit-transform: scale(1.1);
    cursor: pointer;
}

div.item img {
    width: 100%;
}

div.item h2 {
    font-family: Rubik, sans-serif;
}

